@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  background:url("img/MoneyHeist.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  background: #000046; 
  background: linear-gradient(to left, #1CB5E0, #000046);


}


#full{
  background: url();
}


.container{
  height: 500px;
  width: 400px;
  
  justify-content: center;
  align-items: center;
  background-color:#e7e7e7 ;
  border-radius: 20px;
  box-shadow: 5px 15px 10px rgba(0,0,0,0.3);
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
  border-radius: 20px;
  backdrop-filter: blur(2rem);
  
}

.img-container {

  height:300px;
  width:300px;
  position: relative;
  top: -50px;
  left:50px
}

.img-container img{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit:cover;
  border-radius: 20px;
  box-shadow: 5px 15px 10px rgba(0,0,0,0.3);
  user-select: none;

}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  user-select: none;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
  user-select: none;
}

span{
  user-select: none;

}


/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}


.player-controls {
  position: relative;
  left: 120px;
  width: 200px;
}

.fas {
  position:relative;
  font-size: 30px;
  color: rgb(253, 244, 244);
  margin-right: 30px;
  user-select: none;
  cursor: pointer;
 

}

.fas:hover{
  filter: brightness(80%);

}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}



@media screen and (max-width: 400px) {
   .container{
     width:80vw;
   }

  .img-container {
    left: 45px;
  }

  .img-container img{
   
    width:70%;
    height:75%;

  }

  .fas{
   right:47px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}

